<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guerbai.springtodolist.dao.TodoDao">
    <resultMap id="BaseResultMap" type="guerbai.springtodolist.domain.Todo">
        <result column="id" property="id"/>
        <result column="thing" property="thing"/>
        <result column="created_at" property="createdAt"/>
        <result column="modified_at" property="modifiedAt"/>
        <result column="done" property="done"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO todo (thing) VALUES (#{thing})
    </insert>

    <select id="getTodoById" resultMap="BaseResultMap" parameterType="long">
        SELECT * FROM todo WHERE id = #{id}
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM todo WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE todo SET
            thing = #{todo.thing},
            done = #{todo.done},
            modified_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <delete id="removeDoneTodoItemList">
        DELETE FROM todo WHERE done = true;
    </delete>

</mapper>